# Gitignore file
.luarc.json

# tree-sitter-dl is the script by @dzfrias on GitHub I use for installing parsers
tree-sitter-dl-lock.json
*.scm

# Library files, mainly from Treesitter
*.so
*.dll
*.lib
*.a


ruff_cache/
